PngImage_1 RCDATA "images\\adm.png"
PngImage_2 RCDATA "images\\balanca.png"
PngImage_3 RCDATA "images\\barCode.png"
PngImage_4 RCDATA "images\\barcode_icon.png"
PngImage_5 RCDATA "images\\bridge_logo.png"
PngImage_6 RCDATA "images\\card.png"
PngImage_7 RCDATA "images\\e1_bridge.png"
PngImage_8 RCDATA "images\\ean13.png"
PngImage_9 RCDATA "images\\elgin_logo_default_print_image.png"
JpgImage_1 RCDATA "images\\ElginDeveloperCommunity.jpg"
PngImage_10 RCDATA "images\\ElginDeveloperCommunity.png"
PngImage_11 RCDATA "images\\logoElgin.png"
PngImage_12 RCDATA "images\\msitef.png"
PngImage_13 RCDATA "images\\nfce.png"
PngImage_14 RCDATA "images\\printer.png"
PngImage_15 RCDATA "images\\printerBarCode.png"
PngImage_16 RCDATA "images\\printerImage.png"
PngImage_17 RCDATA "images\\printerText.png"
PngImage_19 RCDATA "images\\QRCode_GithubElgin.png"
PngImage_20 RCDATA "images\\Redicode-EAN-13.png"
PngImage_21 RCDATA "images\\sat.png"
PngImage_22 RCDATA "images\\scannedBarCode.png"
PngImage_23 RCDATA "images\\status.png"
PngImage_24 RCDATA "images\\store.png"
PngImage_25 RCDATA "images\\voucher.png"
